<template>
<div class="container" >
  <h2>Hahn</h2>
  <p>Hahn Softwareentwicklung <code>.Applicant</code></p>
  <form  validation-errors.bind="errors">
    <div class="form-group" validation-errors.bind="errorname">
      <label for="uname" t="Name" ></label>
      <input type="text" class="form-control" class.bind="errorname.length ? 'border border-danger' : ''"  value.bind="Applicant.Name & validate"  t="[placeholder]$t(Enter) $t(Name)"  >

    </div>
    <div class="form-group" validation-errors.bind="errorfamilyname">
      <label for="ufamily" t="FamilyName"></label>
      <input type="text" class="form-control" class.bind="errorfamilyname.length ? 'border border-danger' : ''"  value.bind="Applicant.FamilyName & validate" t="[placeholder]$t(Enter) $t(FamilyName)" >

    </div>
    <div class="form-group" validation-errors.bind="erroraddress">
      <label for="Address" t="Address"></label>
      <input type="text" class="form-control" id="uname" class.bind="erroraddress.length ? 'border border-danger' : ''" value.bind="Applicant.Address & validate" t="[placeholder]$t(Enter) $t(Address)" name="uname" >

    </div>
    <div class="form-group" validation-errors.bind="errorcountry">
      <label for="CountryOfOrigin" t="CountryOfOrigin"></label>
      <input type="text" class="form-control" id="uname"   change.delegate="countrycheck()" class.bind="errorcountry.length || !countrystatus ? 'border border-danger' : ''" value.bind="Applicant.CountryOfOrigin & validate" t="[placeholder]$t(Enter) $t(CountryOfOrigin)" name="uname" >

    </div>
    <div class="form-group" validation-errors.bind="erroremail">
      <label for="EMailAdress" t="EMailAdress"></label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" class.bind="erroremail.length ? 'border border-danger' : ''" value.bind="Applicant.EMailAdress & validate" t="[placeholder]$t(Enter) $t(EMailAdress)" id="demo" name="email">
        <div class="input-group-append">
          <span class="input-group-text">@example.com</span>
        </div>
      </div>

    </div>
    <div class="form-group" validation-errors.bind="errorage">
      <label for="Age" t="Age"></label>
      <input type="text" class="form-control" class.bind="errorage.length ? 'border border-danger' : ''" id="uname" value.bind="Applicant.Age & validate" t="[placeholder]$t(Enter) $t(Age)" name="Age" >

    </div>

    <div class="form-group" validation-errors.bind="errorhired" >
      <label for="Age" t="Hired"></label>
        <div class="form-check-inline"  >
          <label class="form-check-label" for="radio1"  >
            <input type="radio" class="form-check-input"  checked.bind="Applicant.Hired & validate"  id="radio1" name="Hired" value="true" ><span t="Yes"></span>
          </label>
        </div>
        <div class="form-check-inline" >
          <label class="form-check-label" for="radio2" >
            <input type="radio" class="form-check-input" checked.bind="Applicant.Hired & validate"  id="radio2" name="Hired" value="false"><span t="No"></span>
          </label>
        </div>
        
    </div>
    <button type="button" class="btn btn-success" t="Send" click.trigger="send()" disabled.bind="!canSend || controller.errors.length>=1">Send</button>
    <button type="button" class="btn btn-info" t="Reset" click.trigger="openDialog('You Really sure to reset all the data?','Reset Data',true,'reset')" disabled.bind="!canRest">Reset</button>
    
  
  </form>




</template>

