<template>
   
    <require from="../../plugins/formstep/formstep2.css"></require>
    <section class="content">
        <div class="row">
          <div class="col-12">
          
            <!-- /.card -->
  
            <div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>کد اشتراک ساماب</th>
                    <th>کد بایگانی</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>کد ملی</th>
                    <th>نام کانال</th>
                    <th>عملیات</th>
                    
                    
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1325874</td>
                    <td>10025
                    </td>
                    <td>رضا</td>
                    <td>صفری کیا</td>
                    <td>1920542156</td>
                    <td>ال 5</td>
                    <td style="">
                      <button type="button" class="btn btn-success" >نمایش </button>
                      <button type="button" class="btn btn-warning">ویرایش </button>
                      <button type="button"  class="btn btn-danger">حذف </button>
                      
                    </td>
                  </tr>
                  
                  
                  </tbody>
                  <tfoot>

                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <h2 id="heading">افزودن مشترک جدید</h2>
                        <p>لطفا تمامی مراحل را با دقت انجام دهید</p>
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="account"><strong>اکانت</strong></li>
                                <li id="personal"><strong>فردی</strong></li>
                                <li id="personal"><strong>بایگانی</strong></li>
                                <li id="payment"><strong>مدارک</strong></li>
                                <li id="confirm"><strong>پایان</strong></li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"  aria-valuemax="100" style="width:50%"></div>
                            </div> <br> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card" validation-errors.bind="errors">
                                    <div class="row">
                                        
                                        
                                        <div class="col-7">
                                          <h2 class="fs-title">اطلاعات کاربری:</h2>
                                      </div>
                                      <div class="col-5">
                                        <h2 class="steps">مرحله 1 از 4</h2>
                                    </div>
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorsamab">
                                      <label for="exampleInputEmail1">کداشتراک ساماب</label>
                                      <input type="" class="form-control" class.bind="errorsamab.length ? 'border border-danger' : ''"  value.bind="moshtarekin.samabid & validate" placeholder="کد اشتراک ساماب را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorpass">
                                      <label for="exampleInputPassword1">رمز عبور</label>
                                      <input type="text" class="form-control" class.bind="errorpass.length ? 'border border-danger' : ''"  value.bind="moshtarekin.password & validate" placeholder="رمز عبور را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorrpass">
                                      <label for="exampleInputPassword1">تکرار رمز عبور</label>
                                      <input type="password" class="form-control" class.bind="errorrpass.length || moshtarekin.password!=moshtarekin.rpassword ? 'border border-danger' : ''"  value.bind="moshtarekin.rpassword & validate" placeholder="رمز عبور را وارد کنید">
                                    </div>
                                   
                                    
                                </div> <input type="button" name="next" class="next action-button" click.delegate="test()"  style.bind="!canNext1 || errors.length>=1 ? 'opacity:.65' : ''" disabled.bind="canNext1 || errors.length>=1 || moshtarekin.password!=moshtarekin.rpassword" value="مرحله بعد" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card" validation-errors.bind="errorsnext2">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">اطلاعات فردی:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">مرحله 2 از 4</h2>
                                        </div>
                                    </div> 
                                    <div class="form-group" validation-errors.bind="errorname">
                                      <label for="test" >نام</label>
                                      <input type="text" class="form-control" class.bind="errorname.length ? 'border border-danger' : ''" value.bind="moshtarekin.firstName & validate" placeholder="نام را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorlastname">
                                      <label for="exampleInputPassword1" >نام خانوادگی</label>
                                      <input type="text" class="form-control" class.bind="errorlastname.length ? 'border border-danger' : ''" value.bind="moshtarekin.lastName & validate" placeholder="نام خانوادگی را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorpedar">
                                      <label for="exampleInputPassword1" >نام پدر</label>
                                      <input type="text" class="form-control" class.bind="errorpedar.length ? 'border border-danger' : ''" value.bind="moshtarekin.fatherName & validate" placeholder="نام پدر را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errormeli">
                                      <label for="exampleInputPassword1" >کد ملی</label>
                                      <input type="text" class="form-control" class.bind="errormeli.length ? 'border border-danger' : ''" value.bind="moshtarekin.nationalCode & validate" placeholder="کد ملی را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorshenasnameh">
                                      <label for="exampleInputPassword1" >شماره شناسنامه</label>
                                      <input type="text" class="form-control" class.bind="errorshenasnameh.length ? 'border border-danger' : ''" value.bind="moshtarekin.shshenasnameh & validate" placeholder="شماره شناسنامه را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errortavalod">
                                      <label for="exampleInputPassword1" >تاریخ تولد</label>
                                      <input type="text" class="form-control" class.bind="errortavalod.length ? 'border border-danger' : ''" value.bind="moshtarekin.tarikhtavalod & validate" placeholder="تاریخ تولد را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="erroraddress">
                                      <label for="exampleInputPassword1" >آدرس</label>
                                      <input type="text" class="form-control" class.bind="erroraddress.length ? 'border border-danger' : ''" value.bind="moshtarekin.address & validate" placeholder="آدرس را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorpost">
                                      <label for="exampleInputPassword1" >کد پستی</label>
                                      <input type="text" class="form-control" class.bind="errorpost.length ? 'border border-danger' : ''" value.bind="moshtarekin.postalCode & validate" placeholder="کد پستی را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errormobile">
                                      <label for="exampleInputPassword1" >تلفن همراه</label>
                                      <input type="text" class="form-control" class.bind="errormobile.length ? 'border border-danger' : ''" value.bind="moshtarekin.mobilePhoneNumber & validate" placeholder="تلفن همراه را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="errorhome">
                                      <label for="exampleInputPassword1" >تلفن منزل</label>
                                      <input type="text" class="form-control" class.bind="errorhome.length ? 'border border-danger' : ''" value.bind="moshtarekin.homePhone & validate" placeholder="تلفن منزل را وارد کنید">
                                    </div>
                                    <div class="form-group" validation-errors.bind="erroremail">
                                      <label for="exampleInputPassword1" >ایمیل</label>
                                      <input type="text" class="form-control" class.bind="erroremail.length ? 'border border-danger' : ''" value.bind="moshtarekin.email & validate" placeholder="ایمیل را وارد کنید">
                                    </div>
                                </div> <input type="button" name="next" click.delegate="getarchive()"  class="next action-button" style.bind="!canNext2 || errorsnext2.length>=1 ? 'opacity:.65' : ''" disabled.bind="canNext2 || errorsnext2.length>=1" value="مرحله بعدی" /> <input type="button" name="previous" class="previous action-button-previous" value="مرحله قبلی" />
                            </fieldset>
                            <fieldset>
                              <div class="form-card" validation-errors.bind="errors">
                                  <div class="row">
                                      
                                      
                                      <div class="col-7">
                                        <h2 class="fs-title">اطلاعات کاربری:</h2>
                                    </div>
                                    <div class="col-5">
                                      <h2 class="steps">مرحله 3 از 5</h2>
                                  </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="sel1">انتخاب آرشیو</label>
                                    <select class="form-control" value.bind="selectedarchive" click.delegate="gettabagheh(selectedarchive)"  >
                                      <option>انتخاب آرشیو</option>
                                      <option repeat.for="data of dataarchive" >${data.drawer}</option>
                                    </select>
                                  </div> 
                                  <div class="form-group">
                                    <label for="sel1">انتخاب طبفه</label>
                                    <select class="form-control" value.bind="selectedtabagheh">
                                      <option>انتخاب طبقه</option>
                                      <option repeat.for="data of datatabagheh" model.bind="data.id" >${data.floor}</option>
                                     
                                    </select>
                                  </div> 
                                 
                                  
                              </div> <input type="button" name="next" class="next action-button" click.delegate="submitnewmostarek()"  style.bind="!canNext1 || errors.length>=1 ? 'opacity:.65' : ''" disabled.bind="canNext1 || errors.length>=1 || moshtarekin.password!=moshtarekin.rpassword" value="مرحله بعد" /><input type="button" name="previous" class="previous action-button-previous" value="مرحله قبل" />
                          </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title">ارسال مدارک:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">مرحله 3 - 4</h2>
                                        </div>
                                     <label class="fieldlabels">عکس شناسنامه:</label> <input type="file" id="file1" type="file" multiple accept="image/*"  files.bind="selectedcartemeli">
                                    <label class="fieldlabels">عکس کارت ملی(رو):</label> <input type="file" id="file2" type="file"  files.bind="selectedbackcartemeli"><label class="fieldlabels">عکس کارت ملی(پشت):</label> <input type="file" id="file3" type="file"  files.bind="selectedshenasnameh">
                                </div> <input type="button" name="next"  class="next action-button" click.delegate="doUpload()" value="ثبت اطلاعات" /> <input type="button" name="previous" class="previous action-button-previous" value="مرحله قبل" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-6">
                                            <h2 class="fs-title">پایان:</h2>
                                        </div>
                                        <div class="col-5">
                                            <h2 class="steps">مرحله 4 - 4</h2>
                                        </div>
                                    </div> <br><br>
                                    <h2 class="purple-text text-center"><strong>${submitstatustitle}</strong></h2> <br>
                                    <div class="row justify-content-center">
                                        <div class="col-3"> 
                                          <img show.bind="submitstatus" src="../../plugins/formstep/GwStPmg.png" class="fit-image">
                                          <img show.bind="!submitstatus" src="../../plugins/formstep/sign-stop-11530957297a55k5magvw.png" class="fit-image">  
                                        </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5 class="purple-text text-center">${submitstatusdes}</h5>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

        
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
          <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
              <h2 id="heading">Sign Up Your User Account</h2>
              <p>Fill all form field to go to next step</p>
              <form id="msform">
                  <!-- progressbar -->
                  <ul id="progressbar">
                      <li class="active" id="account"><strong>Account</strong></li>
                      <li id="personal"><strong>Personal</strong></li>
                      <li id="payment"><strong>Image</strong></li>
                      <li id="confirm"><strong>Finish</strong></li>
                  </ul>
                  <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                  </div> <br> <!-- fieldsets -->
                  <fieldset>
                      <div class="form-card">
                          <div class="row">
                              <div class="col-7">
                                  <h2 class="fs-title">Account Information:</h2>
                              </div>
                              <div class="col-5">
                                  <h2 class="steps">Step 1 - 4</h2>
                              </div>
                          </div> <label class="fieldlabels">Email: *</label> <input type="email" name="email" placeholder="Email Id" /> <label class="fieldlabels">Username: *</label> <input type="text" name="uname" placeholder="UserName" /> <label class="fieldlabels">Password: *</label> <input type="password" name="pwd" placeholder="Password" /> <label class="fieldlabels">Confirm Password: *</label> <input type="password" name="cpwd" placeholder="Confirm Password" />
                      </div> <input type="button" name="next" class="next action-button" value="Next" />
                  </fieldset>
                  <fieldset>
                      <div class="form-card">
                          <div class="row">
                              <div class="col-7">
                                  <h2 class="fs-title">Personal Information:</h2>
                              </div>
                              <div class="col-5">
                                  <h2 class="steps">Step 2 - 4</h2>
                              </div>
                          </div> <label class="fieldlabels">First Name: *</label> <input type="text" name="fname" placeholder="First Name" /> <label class="fieldlabels">Last Name: *</label> <input type="text" name="lname" placeholder="Last Name" /> <label class="fieldlabels">Contact No.: *</label> <input type="text" name="phno" placeholder="Contact No." /> <label class="fieldlabels">Alternate Contact No.: *</label> <input type="text" name="phno_2" placeholder="Alternate Contact No." />
                      </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                  </fieldset>
                  <fieldset>
                      <div class="form-card">
                          <div class="row">
                              <div class="col-7">
                                  <h2 class="fs-title">Image Upload:</h2>
                              </div>
                              <div class="col-5">
                                  <h2 class="steps">Step 3 - 4</h2>
                              </div>
                          </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                      </div> <input type="button" name="next" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                  </fieldset>
                  <fieldset>
                      <div class="form-card">
                          <div class="row">
                              <div class="col-7">
                                  <h2 class="fs-title">Finish:</h2>
                              </div>
                              <div class="col-5">
                                  <h2 class="steps">Step 4 - 4</h2>
                              </div>
                          </div> <br><br>
                          <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                          <div class="row justify-content-center">
                              <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                          </div> <br><br>
                          <div class="row justify-content-center">
                              <div class="col-7 text-center">
                                  <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                              </div>
                          </div>
                      </div>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>
</div>

  <script src="../../plugins/formstep/formstep2.js"></script>
</template>
